:root {
  --main-color: #3321d7;
}


.error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.center{
width: 150px;
margin: 40px auto;

}

.button-plus {
  position: relative;
  left: 15px;
  border: 0.1px solid var(--main-color);
  border-radius: 10px;
  background-color: white;
}

.button-minus {
  position: relative;
  right: 5px;
  border: 0.1px solid var(--main-color);
  border-radius: 10px;
  background-color: white;
}

.quantity-field {
  width: 60px;
  border: 0.1px solid rgba(0, 0, 0, 0.29);
}

.delete {
  border: 2px solid red;
  color: red;
}

.delete:hover {
  background-color: red;
  color: white;
}

.checkout {
  background-color: var(--main-color);
  color: white;
}

.checkout:hover {
  background-color: var(--main-color);
  color: white;
}

.product-btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: white;
}

.archive-btn {
  background-color: red;
  border-radius: 5px;
  color: white;
  width: 50px;
}
.btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn:hover {
  background-color: #2c0bd5;
  border: 2px solid #2c0bd5;
}


.btns {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btns:hover {
  background-color: #2c0bd5;
}

.svg-icon {
  color:grey
}

.svg-icon:hover {
  color: var(--main-color);
}

.edit-btn {
  background-color: var(--main-color);
}