.delete {
    border: 2px solid red;
    color: red;
}

.delete:hover {
    background-color: red;
    color: white;
}

.checkout {
    background-color: var(--main-color);
    color: white;
}

.checkout:hover {
    background-color: var(--main-color);
    color: white;
}

.product-btn {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: white;
}

.archive-btn {
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
}
.btn {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btn:hover {
    background-color: #2c0bd5;
    border: 2px solid #2c0bd5;
}


.btns {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btns:hover {
    background-color: #2c0bd5;
}

.svg-icon {
    color:grey
}

.svg-icon:hover {
    color: var(--main-color);
}
